assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/vendor
/common/config/mode.php
/common/config/local.php
/home/www/assets
/home/runtime
/common/log
/.idea
