.layouts{
    height:100%;
    float:left;
}
#left{
    width:20%;
}
#right{
    width: 80%;
    float: right;
}
@media (max-width: 321px) {
    #left{
        display: none;
    }
    #right{
        width: 100%;
    }
}